  #mainBackground {
    background: url('img/ocean.png') center center / cover no-repeat;
    height: 100vh; /* Default height for xs screens */
}

#subOverlay {
    background: url('img/gameSub.png') center center / cover no-repeat;
    height: 50px; /* change this to the actual height of the submarine */
    width: 100px; /* change this to the actual width of the submarine */
    position: absolute;
    top: 50%; /* change these values to position the submarine where you want it */
    left: 0;
    transform: translate(-50%, -50%);
    animation: move 30s linear infinite;
}

@keyframes move {
    0%, 49% {
        transform: translate(-50%, -50%) scaleX(1);
    }
    51%, 100% {
        transform: translate(-50%, -50%) scaleX(-1);
    }
    0% { 
        left: 0;
        top: 70%;
    }
    25% { 
        left: 50%;
        top: 60%;
    }
    50% { 
        left: 100%;
        top: 70%;
    }
    75% { 
        left: 50%;
        top: 60%;
    }
    100% { 
        left: 0;
        top: 70%;
    }
}

#planeOverlay {
    background: url('img/plane.png') center center / cover no-repeat;
    height: 100px; /* change this to the actual height of the plane */
    width: 100px; /* change this to the actual width of the plane */
    position: absolute;
    top: 20%; /* adjust these values to position the plane where you want it */
    left: 100%;
    transform: translate(-50%, -50%);
    animation: planeMove 13s linear infinite;
}

@keyframes planeMove {
    0%, 49.5% {
        transform: translate(-50%, -50%) scaleX(-1);
    }
    50.5%, 100% {
        transform: translate(-50%, -50%) scaleX(1);
    }
    0% { 
        left: 100%;
        top: 20%;
    }
    25% { 
        left: 50%;
        top: 22%;
    }
    50% { 
        left: 0;
        top: 20%;
    }
    75% { 
        left: 50%;
        top: 22%;
    }
    100% { 
        left: 100%;
        top: 20%;
    }
}

#fishOverlay {
    background: url('img/fish.png') center center / cover no-repeat;
    height: 100px; /* adjust this to the actual height of the fish */
    width: 100px; /* adjust this to the actual width of the fish */
    position: absolute;
    top: 40%; /* adjusted to avoid collision with submarine */
    left: 100%;
    transform: translate(-50%, -50%);
    animation: fishMove 40s linear infinite;
}

@keyframes fishMove {
    0%, 49.5% {
        transform: translate(-50%, -50%) scaleX(-1);
    }
    50.5%, 100% {
        transform: translate(-50%, -50%) scaleX(1);
    }
    0% { 
        left: 100%;
        top: 80%;
    }
    25% { 
        left: 50%;
        top: 82%;
    }
    50% { 
        left: 0;
        top: 80%;
    }
    75% { 
        left: 50%;
        top: 78%;
    }
    100% { 
        left: 100%;
        top: 80%;
    }
}

#shoalOverlay {
    background: url('img/shoal.png') center center / cover no-repeat;
    height: 50px; /* adjusted to half of the original size */
    width: 50px; /* adjusted to half of the original size */
    position: absolute;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%);
    animation: shoalMove 26s linear infinite;
}

@keyframes shoalMove {
    0%, 49.5% {
        transform: translate(-50%, -50%) scaleX(-1);
    }
    50.5%, 100% {
        transform: translate(-50%, -50%) scaleX(1);
    }
    0% { 
        left: 100%;
        top: 90%;
    }
    25% { 
        left: 50%;
        top: 91%;
    }
    50% { 
        left: 0;
        top: 90%;
    }
    75% { 
        left: 50%;
        top: 89%;
    }
    100% { 
        left: 100%;
        top: 90%;
    }
}

#companyInfo {
    background-color: #E2CDB6; /* Sandy ocean floor color for main background */
    color: #002147; /* Dark blue for contrast text color */
    padding: 50px; /* Adjust as needed */
}

#companyInfo h1 {
    color: #FF4500; /* Sunset orange color for headings */
}

#companyInfo p {
    color: #4A90E2; /* Light blue color for text */
}

.content {
    margin-bottom: 30px; /* Space between sections */
}
